body {
  background: #0E2037;
  font-family: 'Share Tech Mono'; font-size: 3em;
  text-align: center;
}

.tooltip {
    font-size: 0.3em;
    color: #fff;
}

.key {
  border: 1px solid #d8ff00;
  border-radius: 2px;
  padding: 4px;
  color: #d8ff00;
}

.io-display {
  width: 90%;
  margin: 5%;
  background: transparent;
  border: none;
  color: #fff;
  font-family: 'Share Tech Mono';
  font-size: 1em;
  vertical-align: middle;
  text-align: center;
  outline: none;
  white-space: pre;
}

.num-display {
  font-size: 0.4em;
  float: left;
  background: transparent;
  color: #fff;
  border: none;
  border-right: 1px solid #fff;
  width: 1em;
}

.io-display.multiline {
  width: 90%;
  margin: 5%;
  background: transparent;
  border: none;
  color: #fff;
  font-family: 'Share Tech Mono';
  font-size: 0.4em;
  vertical-align: middle;
  text-align: left;
  outline: none;
}

.io-display#output {
  font-size: 0.4em;
  height: 50%;
  word-break: break-all;
  text-align: left;
}

.step { display: none; }
#step1 { display: block; }

#btn-submit, a {
  text-decoration: overline;
  display: inline-block;
  font-size: 1em;
  text-transform: capitalize;
  margin-top: 10px;
  color: #d8ff00;
 }

#btn-submit:hover, a:hover {
  color: rgba(255,255,255,1);
}