<!DOCTYPE>
<html>
<head>
  <title>PassIon - Heureka password minion</title>

  <link rel="stylesheet" type="text/css" href="/public/vendor/animate.min.css">
  <script type="text/javascript" src="/public/vendor/aes.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  {% include '_app_scripts.html' %}
</head>
<body>
  <span class="fork-on-github"><a href="https://github.com/skooda/passIon">Fork me on GitHub</a></span>
  {% block body %}
  {% endblock %}

  {% block app %}
  {% endblock %}
  <p class="bottom footer">Created by <a href="https://twitter.com/heurekadevs">@HeurekaDevs</a></p>
  <p class="bottom bg-text">PassION<sup>BETA</sup></p>
</body>
</html>
